---
import Layout from "@/layouts/Layout.astro";
import { sentenceCase } from "@/utils/transform";
import Hero from "@/components/Hero.astro";

import { getCollection } from "astro:content";

const allDocs = await getCollection("docs").then((docs) =>
    docs.sort((a, b) => b.data.publishDate - a.data.publishDate)
);
---

<Layout title="Awesome Components">
    <Hero />

    <section>
        <div class="max-w-5xl pt-10 mx-auto flex flex-col gap-5">
            <div class="grid grid-cols-3 gap-5">
                {
                    allDocs.map((doc, i) => (
                        <a href={`/components/${doc.slug}`} class="h-full">
                            <div class="h-full shadow border border-slate-200 rounded overflow-hidden">
                                <div class="h-[200px] bg-slate-100 flex justify-center items-center text-sm italic">
                                    {doc.data.image ? (
                                        <img
                                            class="h-[200px] bg-slate-100 "
                                            src={doc.data.image}
                                            alt={sentenceCase(doc.data.title)}
                                        />
                                    ) : (
                                        "image placeholder"
                                    )}
                                </div>
                                <div class="py-3 px-5">
                                    <h3 class="text-indigo-800 text-xl">
                                        {sentenceCase(doc.data.title)}
                                    </h3>
                                    <div class="flex gap-1">
                                        {doc.data.tags.map((tag) => (
                                            <span class="text-xs p-1 bg-slate-50 rounded">
                                                #{tag}
                                            </span>
                                        ))}
                                    </div>
                                </div>
                            </div>
                        </a>
                    ))
                }
            </div>
        </div>
    </section>
</Layout>
